.box {
  text-align: center;
}

.tumb {
 
}

.text {
  color: #3f51b5;
  font-size: 4vw;
}

.image {
  margin: 0 auto;
	 animation: 2s show ease;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
